* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start carousel */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header a {
  color: white;
}

header .navbar .nav-item.active a {
  color: #35a22c;
}

header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
}

header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar .nav-item a:hover {
  color: #35a22c;
}

header .navbar .nav-item a:hover::before,
header .navbar .nav-item .active a:hover::before {
  width: 100%;
}
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-caption img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}

.carousel-indicators .active {
  background-color: #35a22c;
}

.carousel-indicators {
  bottom: 50px;
}
/* end carousel */

/* start projects */

#projects .nav {
  justify-content: center;
}

#projects .card {
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#projects .card-body{
  border: 1px solid transparent;
  border-top: transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#projects .card:hover .card-body{
  border-color: #35a22c;
}

/* end projects */
